# =========================
# Node / React
# =========================
node_modules/
dist/
dist-ssr/

# Environment
.env
.env.local
*.local

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# VS Code
.vscode/*
!.vscode/extensions.json

# macOS
.DS_Store

# =========================
# Python
# =========================
__pycache__/
*.py[cod]
*$py.class

# Virtual Environment
venv/
.venv/
env/

# Pytest
.pytest_cache/

# Coverage
.coverage
htmlcov/

# =========================
# Database
# =========================
*.db
*.sqlite3

# =========================
# Build / Cache
# =========================
*.log